.login-form-card-c {
    max-width: 40rem;
    max-width: 40rem;
    padding: 2rem;
}

.login-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue-light);
    height: 100vh;
}

.login-form {
    padding: 3rem;
    width: 36rem;
    min-width: 20rem;
    background-color: var(--color-white);
    padding: 3rem;
    border-radius: .5rem
}

.login-form-header {
    margin-bottom: 4rem;
}

.welcome-txt {
    font-weight: 700;
}

.welcome-instruction {
    color: var(--color-gray);
}

.login-btn-container {
    margin-top: 2rem;
}
.login-btn {
    width: 100%;
    height: 3.6rem;
    font-weight: 500 !important;
}