.button-primary {
    background-color: var(--color-primary) !important;
    color: var(--color-white) !important;
    border-radius: .5rem !important;
    border: none !important;
    font-family: inherit;
    text-transform: none !important;
}

.button-primary:hover {
    background-color: var(--color-secondary);
}