:root {

  --color-primary: #5465FF;
  --color-secondary: #788BFF;

  --color-blue-light: #F0F6FF;
  --color-gray: #707070;
  --color-gray-light: #A8B4C0;
  --color-white: #FFFFFF;
  --color-black: #000000;


  --default-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}


.fw-bold {
  font-weight: 700;
}

.fw-semi-bold {
  font-weight: 500;
}

.fw-light {
  font-weight: 200;
}


textarea:focus,
input:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: initial;
  box-shadow: none;
  outline: 0 none;
}

.margin-l-8 {
  margin-left: 8px;
}

.margin-l-16 {
  margin-left: 16px;
}